<% provide(:title, "Log in") %>
<div class="" style="display:table; width:100%; text-align:center; height:100vh">
  <div style="display:table-cell; vertical-align:middle">
  <div class="panel panel-default" style="width:400px; margin:0 auto; text-align:left">
    <div class="panel-heading">Login</div>
    <div class="panel-body">
      <%= form_for(:session, url: sessions_login_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %> <br>
      <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
</div>


