<div class="panel panel-default">
  <div class="panel-heading">Event Form</div>
  <div class="panel-body">
    <%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="field">
      <%= form.label :firstname %>
      <%= form.text_field :firstname, id: :user_firstname, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :lastname %>
      <%= form.text_field :lastname, id: :user_lastname, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email, id: :user_email, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.text_field :password, id: :user_password, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :gender %>
      <%= form.text_field :gender, id: :user_gender, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :dob %>
      <%= form.datetime_select :dob, id: :user_dob, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :photo %>
      <%= form.file_field :photo, id: :user_photo, class: 'form-control' %>
    </div>

    <div class="field">
      <%= form.label :phone %>
      <%= form.text_field :phone, id: :user_phone, class: 'form-control' %>
    </div>

    <div class="actions">
      <button class="btn btn-info">Submit</button>
    </div>
    <% end %>
     <%= link_to 'Home', dashboard_path %>
  </div>

</div>

</div>

