
      <h3>Events</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Start date</th>
            <th>End date</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
          <tr>
            <td><%= event.id %></td>
            <td><%= event.name %></td>
            <td><%= event.description %></td>
            <td><%= event.start_date.to_date %></td>
            <td><%= event.end_date.to_date %></td>
            <td><%= link_to 'Edit', edit_event_path(event) %></td>
            <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>

        </tbody>
      </table>
      <%= will_paginate @events, class: "pagination" %>
      <br>
    
