
  <div class="panel panel-default">
    <div class="panel-heading">Event Form</div>
    <div class="panel-body">
      <%= form_with(model: event, local: true) do |form| %>
      <% if event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
          <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, id: :event_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, id: :event_description , class: 'form-control'%>
      </div>

      <div class="form-group">
        <%= form.label :start_date %>
        <%= form.datetime_select :start_date, id: :event_start_date, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :end_date %>
        <%= form.datetime_select :end_date, id: :event_end_date, class: 'form-control' %>
      </div>

      <div class="actions">
        <button class="btn btn-info">Submit</button>
      </div>
      <% end %></div>
    </div>


