<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Event List</div>
    <div class="panel-body">
      <p id="notice"><%= notice %></p>
      <h1>Events</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Start date</th>
            <th>End date</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td><%= event.description %></td>
            <td><%= event.start_date %></td>
            <td><%= event.end_date %></td>
            <td><%= link_to 'Show', event %></td>
            <td><%= link_to 'Edit', edit_event_path(event) %></td>
            <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <%= link_to 'New Event', new_event_path %>
      <%= link_to 'Home', dashboard_path %>
    </div>
  </div>
</div>
