<%= form_with(model: users_role, local: true) do |form| %>
  <% if users_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(users_role.errors.count, "error") %> prohibited this users_role from being saved:</h2>

      <ul>
      <% users_role.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :users_role_user_id %>
  </div>

  <div class="field">
    <%= form.label :role_id %>
    <%= form.text_field :role_id, id: :users_role_role_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
