<p id="notice"><%= notice %></p>

<h1>Users Roles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_roles.each do |users_role| %>
      <tr>
        <td><%= users_role.user %></td>
        <td><%= users_role.role %></td>
        <td><%= link_to 'Show', users_role %></td>
        <td><%= link_to 'Edit', edit_users_role_path(users_role) %></td>
        <td><%= link_to 'Destroy', users_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users Role', new_users_role_path %>
